:root {
    --blue-one: #03045E;
    --blue-two: #023e8a;
    --blue-three: #0077b6;
    --blue-four: #0096c7;
    --blue-five: #00b4d8;
    --blue-six: #48cae4;
    --blue-seven: #90e0ef;
    --blue-eight: #ade8f4;
    --blue-nine: #caf0f8;
    --white-one: #fffffc;
}

#about-me {
    width: 70%;
    margin: auto;
    margin-top: 5%;
    height: auto;
}

#about-me-title {
    text-align: center;
    font-weight: bold;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
    border-bottom: solid;
    border-width: 3px;
}

#about-me p {
    text-align: right;
}

#skills-div {
    margin-top: 10%;
}

#skills-title {
    text-align: center;
    font-weight: bold;
}

#skills-ul {
    list-style-type: none;
    columns: 2;
    text-align: center;
    line-height: 2rem;
    column-gap: 10%;
}

#skills-div img {
    height: auto;
    width: 6vw;
    margin-bottom: 3vh;
}

#not-coding-title {
    text-align: center;
    font-weight: bold;
}

#not-coding {
    margin-top: 10%;
}

#not-coding-ul {
    list-style-type: none;
    columns: 2;
    text-align: center;
    line-height: 2rem;
}

#not-coding img {
    height: auto;
    width: 8vw;
    margin-bottom: 3vh;
}

#ryan-prof {
    height: 25vw;
    width: auto;
    min-height: 200px;
    border-radius: 20%;
    border-style: solid;
}

.tool-tip img {
    position: relative;
}

.tool-tip img:before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 15px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-align: center;
    display: none;
}

@media only screen and (max-width: 575px) {
    #about-me p {
        text-align: left !important;
        margin-left: auto !important;
    }

    #ryan-prof {
        margin-left: 15vw;
    }

    #skills-ul {
        columns: 1;
    }

}

@media only screen and (max-width: 600px) {
    #about-me p {
        margin-left: 15%;
    }

    #skills-ul {
        columns: 1;
    }

}

@media only screen and (max-width: 992px) {

    #about-me p {
        text-align: right;
    }

    #skills-ul {
        columns: 1;
        width: 100%;
        text-align: center;
        padding-right: 10%;
    }

    #skills-div {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
    }

    #skills-div img {
        width: 60px;
    }

    #not-coding-ul {
        columns: 1;
        width: 100%;
        text-align: center;
        padding-right: 10%;
    }

    #not-coding img {
        width: 60px;
    }
}