:root {
    --blue-one: #03045E;
    --blue-two: #023e8a;
    --blue-three: #0077b6;
    --blue-four: #0096c7;
    --blue-five: #00b4d8;
    --blue-six: #48cae4;
    --blue-seven: #90e0ef;
    --blue-eight: #ade8f4;
    --blue-nine: #caf0f8;
    --white-one: #fffffc;
}

p {
    font-size: 18px;
}

.carousel {
    width: 70%;
    margin: auto;
    margin-top: 5%;
    /* margin-bottom: 5%; */
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 70vh;
    overflow: hidden;
}

.carousel-caption {
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 3%;
    background: rgba(0, 20, 0, 0.95);

    
}

.github-link {
    color: white;
    text-decoration: none;
    font-weight: bold
}

.github-link:hover {
    color: var(--blue-nine);
}



/* img {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
} */